@page
@model Planthor.IdentityServerAspNetIdentity.Pages.Login.Index

<div class="login-page">
    <partial name="_ValidationSummary" />

    <div class="row justify-content-center mt-5">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="col-sm-5">
                <div class="card p-3">
                    <div class="card-header text-center">
                        <h1>Sign in to Planthor</h1>
                    </div>

                    <div class="card-body">
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div class="form-group mb-3">
                                <label class="form-label" asp-for="Input.Username"></label>
                                <input class="form-control" asp-for="Input.Username" autofocus>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" asp-for="Input.Password"></label>
                                <input type="password" class="form-control" asp-for="Input.Password" autocomplete="off">
                            </div>

                            <div class="d-flex mb-3">

                                @if (Model.View.AllowRememberLogin)
                                {
                                    <div class="form-group col-md-8">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="Input.RememberLogin">
                                            <label class="form-check-label" asp-for="Input.RememberLogin">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-4">
                                    <a href="forgot-password" class="text-muted text-end">Forgot password?</a>
                                </div>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary col-md-12" name="Input.Button"
                                    value="login">Sign in</button>

                                @if (Model.View.VisibleExternalProviders.Any())
                                {
                                    <div class="social-login text-center mt-3">
                                        <span class="text-muted">Or</span>
                                        <ul class="list-inline">
                                            @foreach (var provider in Model.View.VisibleExternalProviders)
                                            {
                                                <li class="list-inline-item">
                                                    <a class="btn btn-outline-primary col-md-12" asp-page="/ExternalLogin/Challenge"
                                                        asp-route-scheme="@provider.AuthenticationScheme"
                                                        asp-route-returnUrl="@Model.Input.ReturnUrl">
                                                        Sign in with @provider.DisplayName
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                            <div class="text-center">
                                <a href="create-account" class="text-muted">Create an account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>
